<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up From</title>
</head>
<body>
    <h1>Sign Up From</h1>
    <form action="/user" method="post">
        <label>Full Name</label>
        <input type="text" required name="name">
        <br>
        <label>Email</label>
        <input type="email" required name="email">
        <br>
        <label>Password</label>
        <input type="password" required name="password">
        <br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>